html
head
	meta(charset="UTF-8")
	title Document
	link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Montserrat:700', type='text/css')
	link(rel='stylesheet', href='reset.css')
	link(rel='stylesheet', href='styles.css')
body
	
	section.question
		textarea(rows="3" placeholder="Allow me to help you, you indecisive creatures.")

	section.response
		img(src="http://yesno.wtf/assets/yes/11-a23cbde4ae018bbda812d2d8b2b8fc6c.gif", alt="")
		div.overlay: h4 YES

	script(src="app.js")